<div style="margin: 5vh 0">
  <h3 style="text-align: center; font-size: 2.4vh">Iniciar Sesión</h3>
  <p class="sub">Accede al portal institucional</p>
  <form name="inicio-form">
    <div style="margin: 30px 0; width: 90%">
      <input
        type="email"
        placeholder="Correo Electrónico"
        name="log-email"
        style="width: 100%"
      />
      <span class="error" id="logmail-error"></span>
    </div>
    <div style="margin: 30px 0; width: 90%">
      <input
        type="password"
        placeholder="Contraseña"
        name="log-pass"
        style="width: 100%"
      />
      <span class="error" id="logpass-error"></span>
    </div>
    <div>
      <input type="checkbox" id="session-checkbox" name="sesion" />
      <label for="session-checkbox">Mantener sesión abierta</label>
    </div>
    <button class="submit-button text" name="iniciar">Iniciar Sesión</button>
  </form>
</div>
