<h3 style="text-align: center; font-size: 2.4vh">Regístrate</h3>
<p class="sub">Sé un miembro de nuestra institución</p>

<form method="POST" action="">
      {{ form_registro.hidden_tag()}}
      <div class="form-group">
      {{ form_registro.nombre(class="input_reg text")}}
      {{ form_registro.seg_nombre(class="input_reg text")}}
    </div>
      <div class="form-group">
      {{ form_registro.apellido(class="input_reg text")}}
      {{ form_registro.seg_apellido(class="input_reg text")}}
      </div>
      {{ form_registro.email(class="input_log text")}}
      <div class="form-group">
      {{ form_registro.tel(class="input_reg text")}}
      {{ form_registro.rol_id(class="input_reg select text")}}
      </div>
      <div class="form-group">
      {{ form_registro.contrasena(class="input_reg text")}}
      </div>
      {{ form_registro.consent(class="checkbox text")}}
      {{ form_registro.consent.label(class="checkbox text")}}
      {{ form_registro.submit(class="submit-button text")}}
</form>
