@charset "utf-8";
/*CSS Documento*/
.container{
    display: flex;
    width: 100%;
}

.user-data{
    display: flex;
    flex-direction: column;
    width: 20vw;
    min-height: 85vh;
    position: sticky;
    background-color: #dadddc;
    border-radius: 2%;
    box-shadow: 2px 0 0 0 #c2c2c2;
    margin: 0;
}

.profile-pic{
    margin:0 auto;
    display: inline-block;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-info{
    font-size: 1.7vh;
}

.item, .profile-info{
    padding: 2vh 1vw 0;
}

.profile-info, span{
    align-content: center;
    align-items: center;
    text-align: center;
}

.logout{
background-color: rgb(68, 24, 24);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    color: #e9eceb;
}

.update {
    background-color:rgb(23, 28, 27);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    color: #e9eceb;
}

.eliminar{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 90% 10px 10px;
    color: rgb(255, 0, 0);
}

.anuncios-contenedor{
    display: inline-block;
    width: 100%;
    min-height: 85vh;
}

p.text{
    font-size: 1.8vh;
}

div.text{
    font-size: 1.6vh;
}

.anuncio {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 2vh 3vw;
}

.anuncio-header {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.perfil-foto {
    width: 30px;
    height: 30px;
    background-color: #000; /* Fondo negro o imagen de perfil */
    border-radius: 50%;
    margin-right: 10px;
}

.nombre-anunciante {
    align-self: center;
}

.rol-fecha {
    font-size: 0.8em;
    color: #777;
    margin: 0;
    padding: 5px 2.5vw;
}

.contenido-anuncio {
    margin-top: 10px;
    padding: 1vh 3vw 2vh;
}

.editar-anuncio{
    padding: 1vh 2vw 2vh;
}