.flash-message {
    background-color: rgba(123, 172, 165, 0.486);
    border: 1px solid #4f7a6a;
    padding: 10px;
    border-radius: 5px;
    margin:5px 20px;
}

.close-button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
}

/* Puedes agregar animaciones o transiciones CSS para hacer que aparezca y desaparezca de manera más suave si lo deseas. */