<!DOCTYPE html>
<html>

<head>
    {%include ('part/gen/head_gen.html')%}

    <!--Hoja de estilos-->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/dashboard.css')}}" type="text/css" />

    <!--Ícono shortcut-->
    <link rel="shortcut icon" href="images/shortcut.png" />

    <!--Javascript para el sitio-->
    <script src="{{ url_for('static', filename = 'js/dashboard.js')}}"></script>

    <title>Perfil</title>
</head>

<body>
    <!--Primeros elementos de la página-->
    <header>
        {% include 'part/gen/banner.html' %} {% include 'part/gen/menu.html' %}
    </header>

    <h1>Has iniciado sesion</h1>
    <a href="{{url_for('cerrar_sesion')}}">Presionar aquí para cerrar sesion</a>
    {%include ('part/gen/footer.html')%}
</body>

</html>