<!DOCTYPE html>
<html>
<head>
    {%include 'components/head_gen.html'%}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/dashboard.css')}}" type="text/css" />
    <link rel="shortcut icon" href="images/shortcut.png" />
    <script src="{{ url_for('static', filename = 'js/dashboard.js')}}"></script>
    <title>Instalaciones</title>
</head>
<body>
    <header>
        {% include 'components/banner.html' %}
        {% include 'components/menu.html' %}
    </header>
    <!-- Aquí insertamos el contenido del primer archivo HTML usando un iframe -->
    <iframe src="{{url_for('components', filename='mapa.html')}}" frameborder="0" width="100%" height="600"></iframe>
    {%include 'components/footer.html'%}
</body>
</html>
