<!DOCTYPE html>
<html>

<head>
    {%include 'components/head_gen.html'%}

    <!--Hoja de estilos-->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/dashboard.css')}}" type="text/css" />

    <!--Ícono shortcut-->
    <link rel="shortcut icon" href="images/shortcut.png" />

    <!--Javascript para el sitio-->
    <script src="{{ url_for('static', filename = 'js/dashboard.js')}}"></script>

    <title>Perfil</title>
</head>

<body>
    <!--Primeros elementos de la página-->
    <header>
        {% include 'components/banner.html' %} {% include 'components/menu.html' %}
    </header>
    {%include 'components/footer.html'%}
</body>

</html>