<!DOCTYPE html>
<html>
  <head>
    {%include ('part/gen/head_gen.html')%}

    <!--Hoja de estilos-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/talleres.css')}}"
      type="text/css"
    />

    <!--Ícono shortcut-->
    <link rel="shortcut icon" href="images/shortcut.png" />

    <!--Javascript para el sitio-->
    <script src="{{ url_for('static', filename = 'js/talleres.js')}}"></script>

    <title>Especialidades</title>
  </head>

  <body>
    <!--Primeros elementos de la página-->
    <header>
      {% include 'part/gen/banner.html' %} {% include 'part/gen/menu.html' %} 
    </header>
    {% include('part/gen/footer.html')%}  
</body>
</html>
