<!--Banner del sitio-->
<div class="banner" style="position: fixed">
  <a href="{{ url_for('home')}}">
    <!--Escudo de la institución-->
    <img
      src="{{ url_for('static', filename = 'images/escudo_.png')}}"
      alt=""
      class="escudo"
    />
    <div class="line"></div>

    <!--Nombre de la institución-->
    <p class="name">
      <strong
        ><span style="font-size: 1.5vw">INSTITUTO</span>
        <br />
        TÉCNICO SUPERIOR</strong
      >
    </p></a
  >

  <!--Ícono de menú-->
  <svg
    clip-rule="evenodd"
    fill-rule="evenodd"
    stroke-linejoin="round"
    stroke-miterlimit="2"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    height="9vh"
    width="9vw"
    class="menu_icon"
    id="menu-icon"
  >
    <path
      d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z"
      fill-rule="nonzero"
      stroke-width="1.5"
    />
  </svg>
