<!--Footer-->
<footer>
  <!--Contacto Colegio-->
  <div class="f-info text">
    <p class="title-font" style="font-size: 1.2vw">
      Instituto Técnico Superior
    </p>
    <p>
      <a href="https://maps.app.goo.gl/qUzAWrJavedGHzqB6">
        <i class="fa-solid fa-location-dot fa-lg" style="color: #e9eceb"></i>
        Carrera 27 #10-20, Contiguo a la Universidad Tecnológica de Pereira,
        Pereira, Risaralda, Colombia</a
      >
      <br />
      <a href="tel:(6)3211377">
        <i class="fa-solid fa-phone fa-lg" style="color: #e9eceb"></i>
        (6)3211377</a
      >
      <br />

      <a href="mailto:registroycontrol@itspereira.edu.co">
        <i class="fa-solid fa-envelope fa-lg" style="color: #e9eceb"></i>
        registroycontrol@itspereira.edu.co</a
      >
    </p>
  </div>

  <!--Secretaría de Educación-->
  <div class="f-info text">
    <p class="title-font" style="font-size: 1.2vw">
      Secretaría de Educación Municipal
    </p>
    <p>
      <a href="https://maps.app.goo.gl/rzBfurHdoqYisDqg9">
        <i class="fa-solid fa-location-dot fa-lg" style="color: #e9eceb"></i>
        Carrera 7ᵃ #18-55 Palacio Municipal Piso 8, Pereira, Risaralda,
        Colombia</a
      >
      <br />
      <a href="tel:(6) 3248100">
        <i class="fa-solid fa-phone fa-lg" style="color: #e9eceb"></i>
        (6) 3248100</a
      >
      -
      <a href="tel:(6) 3248101"> (6) 3248101</a>
      <br />

      <a href="mailto:despachoeducacion@pereira.gov.co">
        <i class="fa-solid fa-envelope fa-lg" style="color: #e9eceb"></i>
        despachoeducacion@pereira.gov.co</a
      >
    </p>
  </div>

  <!--Ministerio de Educación-->
  <div class="f-info text">
    <p class="title-font" style="font-size: 1.2vw">
      Ministerio de Educación Nacional
    </p>
    <p>
      <a href="https://maps.app.goo.gl/EzfNegAJxwu32vuV8">
        <i class="fa-solid fa-location-dot fa-lg" style="color: #e9eceb"></i>
        Calle 43 No. 57 - 14. CAN. Bogotá, Colombia.</a
      >
      <br />
      <a href="tel:018000910122">
        <i class="fa-solid fa-phone fa-lg" style="color: #e9eceb"></i>
        01 - 8000 - 910122</a
      >
      <br />

      <a href="mailto:soytransparente@mineducacion.gov.co">
        <i class="fa-solid fa-envelope fa-lg" style="color: #e9eceb"></i>
        soytransparente@mineducacion.gov.co</a
      >
    </p>
  </div>
</footer>
